body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
      font-size: 40px;
    font-weight: 400;
}

h3 {
      font-size: 30px;
    font-weight: 300;
}

h4 {
      font-size: 20px;
    font-weight: 200;
}

p {
      font-size: 10px;
    font-weight: 100;

}

header {
    background-image: url(../images/sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0 0 0 / 85%);
    background-blend-mode: multiply;
    color: white;
    font-family:sans-serif;
    min-height: 100vh;
}

.navbar {
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    }

.navbar ul {display: flex;
            list-style: none;
            font-size: 23px;}

.navbar ul li {
margin-left: 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 60px;
    font-weight: 600;
}

h2 {
      font-size: 40px;
    font-weight: 400;
}

h3 {
      font-size: 30px;
    font-weight: 300;
}

h4 {
      font-size: 20px;
    font-weight: 200;
}

p {
      font-size: 10px;
    font-weight: 100;

}

header {
    background-image: url(../images/sunrise.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(0 0 0 / 85%);
    background-blend-mode: multiply;
    color: white;
    font-family:sans-serif;
    min-height: 100vh;
}

.navbar {
    font-family: sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}

.logo {
    text-transform: uppercase;
    }

.navbar ul {display: flex;
            list-style: none;
            font-size: 23px;}

.navbar ul li {
margin-left: 60px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

/*Banner*/

.banner {
    color: white;
    text-align: center;
    padding: 100px;
}

.banner h4 {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-family: sans-serif;
    font-style: italic;
}

.banner span {
height: 5px;
width: 200px;
background-color: red;
display: inline-block;
}

.wonderful {
    padding: 30px;
}

.learn-more {

    color: white;
    border: 3px solid red;
    border-radius: 50px;
    background-color: red;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.learn-more:hover {
    background-color: transparent;
    letter-spacing: 5px;
    transition: all 0.3s linear;
    cursor: pointer;
}