/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
html {
  scroll-behavior: smooth;
}



body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 60px;
}

h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 30px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

p {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-left: 50px;
}

header {
  background-image: url(../images/sunrise.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgb(0 0 0 / 85%);
  background-blend-mode: multiply;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}

.navbar {
  font-family: sans-serif;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 50px;
  margin-right: 50px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  text-transform: uppercase;
}

.navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-size: 23px;
}

.navbar ul li {
  margin-left: 60px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

/*Banner*/

.banner {
  color: white;
  text-align: center;
  padding-top: 250px;
}

.banner h4 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-family: sans-serif;
  font-style: italic;
}

.banner span {
  height: 5px;
  width: 200px;
  background-color: red;
  display: inline-block;
}

.wonderful {
  padding: 30px;
}

.learn-more {
  color: white;
  border: 3px solid red;
  border-radius: 50px;
  background-color: red;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.learn-more:hover {
  background-color: transparent;
  letter-spacing: 5px;
}

/*Upcoming Events*/

.event-title {
}

.events-title h2 {
  text-align: center;
}

.event-title span {
  height: 5px;
  width: 200px;
  background-color: red;
  display: inline-block;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: block;
  margin: auto;
}

.event-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 50px 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.event {
  padding: 20px;
  text-align: center;
}

.event-box img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 3px;
  box-shadow: rgba(0, 0, 0, 0.15) 10px 10px 3px;
}

.my-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.event h3 {
  margin-top: 10px;
  margin-bottom: 0;
}

.event p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.event a {
  text-decoration: none;
  color: red;
  letter-spacing: 2px;
}

/*Explore the world*/

.explore-background {
  background-image: url(../images/pexels-jess.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0000ffa6;
  background-blend-mode: multiply;
  background-attachment: fixed;
  color: white;
  font-family: sans-serif;
  min-height: 100vh;
}
.explore-parent {
  padding: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore-child {
  width: 50%;
}
.explore-child h1 {
  margin-bottom: 10px;
}
.explore-child span {
  height: 5px;
  width: 200px;
  background-color: red;
  display: inline-block;
}
.explore-child p {
}

.explore-child a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

/*Tour*/

.tour-parent {
  padding: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.tour {
}
.tour h4 {
  margin: 0;
}
.tour span {
  height: 5px;
  width: 200px;
  background-color: red;
  display: inline-block;
}
.tour p {
  text-align: justify;
}
.tour a {
  text-decoration: none;
  color: red;
  letter-spacing: 2px;
}
.tour img {
  width: 100%;
  margin-top: 0;
}

.img1 {
  height: 300px;
  margin-top: 25px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.img2 {
  height: 400px;
  margin-top: 25px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

/*Footer*/

footer {
  padding: 100px;
  text-align: center;
  background-color: black;
  color: white;
}

.fab {
  margin: 10px;
  font-size: 30px;
  color: white;
}

/* Extra small devices (phones, 426px and down) */
@media only screen and (max-width: 426px) {
  body {
    background-color: red;
  }

  h1 {
  font-size: 28px;
  font-weight: 600;
  line-height: 60px;
}

h2 {
  margin-bottom: 24px;
  font-size: 40px;
  font-weight: 600;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

h4 {
  font-size: 12px;
  font-weight: 0;
  line-height: 18px;
}

p {
  font-size: 10px;
  font-weight: 0;
  line-height: 24px;
}

section {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-left: 20px;
}

.navbar {

justify-content: center;
margin-left: 8px;
margin-right: 8px;
}


.navbar ul {
  font-size: 10px;
}

.navbar ul li {
  margin-left: 10px;
}

.fas {
  font-size: 10px;
}

/*Banner*/

.banner {

  padding-top: 100px;
}

.banner h4 {
  font-size: 20px;
  margin-top: 30px;

}

.banner span {
  height: 3px;
  width: 150px;

}

.wonderful {
  padding-top: 30px;
  padding-bottom: 40px;
}

.learn-more {
 
  border-radius: 50px;
  font-size: 12px;
  font-weight: 0;
  letter-spacing: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.learn-more:hover {

  letter-spacing: 5px;
}

}

/* Small devices (landscape phones and portrait tablets, 426px and 769px) */
@media only screen and (min-width: 426px) and (max-width: 769px) {
  body {
    background-color: green;
  }
}

/* Medium devices (landscape tablets and laptops, 769px and 1025px) */
@media only screen and (min-width: 769px) and (max-width: 1025px) {
  body {
    background-color: blue;
  }
} 

/* Large devices (laptops/desktops, 1025px and 1441px) */
@media only screen and (min-width: 1025px) and (max-width: 1441px) {
  body {
    background-color: orange;
  }
} 

/* Extra large devices (larger desktops and monitors, 1441px and up) */
@media only screen and (min-width: 1441px) {
  body {
    background-color: pink;
  }
}

